body {
  padding-top: 50px;

  /*background-image: url("background2.jpg");*/
  background-image: url("https://farm7.staticflickr.com/6138/5958856597_113675f50b_b.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}